#cartContent{
    border: 1px solid black;
    border-left:0 ;

}

#textSingleArticle{
    color: #1a4a72;
    padding-top:50px;

}

#singleArticle{
    padding-left: 10px;
    border: 1px solid #1a4a72;
}
#registerPanel{

    padding: 20px;
    border: none;
    border-right: 1px solid black;

}
#registerPanel label{
    font-size: 20px;
}

#links{
    margin-bottom: 20px;


}

